:root {
    --bg-color: #eeeeee;
    --text-color: #000000;
}
html[data-theme="dark"] {
    --bg-color: #1b1b1b;
    --text-color: #ffffff;
}

.cont {
    padding: 3%;
}
body {
    background-color: var(--bg-color) !important;
    transition: all .3s;
    color: var(--text-color) !important;
    font-family: Arial, Helvetica, sans-serif;
}

[class="theme-btn"] {
    transition: all .3s;
    text-decoration: none;
    color: var(--text-color);
    /* border: none; */
    background-color: var(--bg-color);
    font-weight: bold;
    float: right;
    margin: 1%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-color: var(--text-color) !important;
    border-width: 2px;
    border-radius: 5px;
    /* stroke-width: 6px; */
}